.form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0b053a;
    position: relative;
    width: 100%;
    max-width: 300px;
    
}

.form_x {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    color: #D85D5D; 
    cursor: pointer;
    transition: transform 100ms ease;
    

}

.form_x:hover {
    transform: scale(1.2);
    transition: transform 100ms ease;

}

.form_title {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 20px;
}

.form_object {
  display: flex;
  flex-direction: column;
  gap: 8px;  
  margin-bottom: 18px; 
}

.form_label {
    font-size: 14px;
    font-weight: 700;
    color: #000a;
}

.form_input {
    font-family: inherit;
    padding: 7px 15px;
    background-color: #f8f9fc;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: 300;
}

.form_input::placeholder {
    color: #caaaaa;
}

.form_object input[type="date"] {
    color: #caaaaa;
}

.form_btn {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: #555A88;
    color: white;
    margin-top: 15px;
    cursor: pointer;
    transition: filter 100ms ease;
    border: none;
}

.form_btn:hover {
    filter: brightness(1.2);
    transition: filter 100ms ease;
}